
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --sw-black: black;
        --sw-dark: #080b12;       /* sfondo parte a destra */
        --sw-dark-foot: #282828;  /* sfondo footer */
        --sw-grey-home: #d2d2d2;  /* icona home */
        --sw-grey-pl: #a3a3a3;    /* icona crea playlist */
        --sw-grey: #707070;       /* testo */
    }

    body {
        font-family: sans-serif;
        font-size: 14px;
    }

    main {
        height: calc(100vh - 90px);
    }

    .sidebar {
        width: 230px;
        background-color: var(--sw-black);
    }

    .main-pg {
        width: calc(100% - 230px);
        background-color: var(--sw-dark);
        overflow: auto;
    }

    footer {
        position: sticky;
        left: 0;
        bottom: 0;
        height: 90px;
        background-color: var(--sw-dark-foot);
    }

/* #endregion Common */


/* #region Utilities */

    .d-flex {
        display: flex;
    }

/* #endregion Utilities */



@media screen and (max-width: 1100px) {
    
}


@media screen and (max-width: 700px) {
    
}


@media screen and (max-width: 600px) {
    
}