
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --sw-white: white;
        --sw-black: black;
        --sw-black-up: rgba(0, 0, 0, 0.5);     /* sfondo upgrade */
        --sw-dark: #080b12;       /* sfondo parte a destra */
        --sw-dark-foot: #282828;  /* sfondo footer */
        --sw-grey-home: #d2d2d2;  /* icona home */
        --sw-grey-pl: #a3a3a3;    /* icona crea playlist */
        --sw-grey: #707070;       /* testo */
        --sw-lightgrey: #c1c1c1;
        --sw-yellow: #adff2f;     /* giallo dei bordini */
    }

    body {
        font-family: sans-serif;
        font-size: 12px;
    }

    main {
        height: calc(100vh - 90px);
    }

    .sidebar {
        width: 230px;
        background-color: var(--sw-black);
        overflow-y: hidden;
    }

    .main-sec {
        width: calc(100% - 230px);
        background-color: var(--sw-dark);
        overflow-y: auto;
    }

    footer {
        position: sticky;
        z-index: 1;
        height: 90px;
        background-color: var(--sw-dark-foot);
    }

/* #endregion Common */


/* #region Debug */

.debug-white {
    color: white;
    padding: 20px;
}

/* #endregion Debug */


/* #region Utilities */

    .container {
        width: 95%;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .f-wrap {
        flex-wrap: wrap;
    }

    .fd-col {
        flex-direction: column;
    }

    .fd-row {
        flex-direction: row;
    }

    .jc-fe {
        justify-content: flex-end;
    }

    .jc-c {
        justify-content: center;
    }

    .jc-sb {
        justify-content: space-between;
    }

    .ai-c {
        align-items: center;
    }

    .col-2 {
        width: calc(100% /12 *2);
    }

    .ta-c {
        text-align: center;
    }

/* #endregion Utilities */


/* #region Main section */

    /* Upgrade */

    .upgrade {
        position: sticky;
        top: 0;
        left: 0;
        height: 90px;
        background-color: var(--sw-black-up);
    }

    .upgrade a { 
        text-decoration: none;
        color: var(--sw-white);
        border: 1px solid var(--sw-white);
        border-radius: 30px;
        padding: 10px 20px;
        margin: 20px 40px;
    }

    .upgrade a:hover { 
        font-size: 1.2em;
        padding: 14px 24px;
        margin: 12px 32px; 
    }

    /* Navigatore */

    nav {
        padding: 1rem 0;
    }

    nav ul {
        list-style: none;
        width: 80%;
        margin: auto;
    }

    nav a {
        text-decoration: none;
        color: var(--sw-grey);
        font-weight: bold;
        display: block;
        margin: 1rem .5rem;
    }

    nav a:hover {
        color: var(--sw-white);
    }

    /* Righe e card */

    .row-title {
        color: var(--sw-white);
        padding: 0 .5rem;
        padding-top: 1rem;
        font-size: 16px;
    }

    .row-subtitle {
        color: var(--sw-grey);
        padding: 0 .5rem;
        padding-top: .5rem;
        font-size: 10px;
    }

    .row {
        color: var(--sw-white);
        padding: 1.5rem 0;
    }

    .col {
        padding: .5rem;
    }

    .card-img img {
        width: 100%;
    }

    .round img {
        border-radius: 50%;
        object-fit: cover;
    }

    .card-title {
        text-align: center;
        padding-top: .5rem;
    }

    .card-subtitle {
        color: var(--sw-grey);
        text-align: center;
        padding-top: .5rem;
    }

/* #endregion Main section */


/* #region sidebar */

    /* Logo Spotify */

    .logo {
        padding: 1rem;
    }

    .logo img {
        width: 70%;
    }

    .logo .favicon {
        width: 100%;
        filter: invert(1);
        display: none;
    }

    /* Link vari */

    .sidebar a {
        text-decoration: none;
        font-weight: bold;
        filter: contrast(0);
    }

    .sidebar a.selected {
        color: var(--sw-white);
        filter: brightness(.8);
        display: block;
        box-shadow: inset 4px 0px 0px var(--sw-yellow);
    }

    .sidebar a:hover {
        color: var(--sw-white);
        filter: invert(0);
    }

    .sidebar a.selected:hover {
        filter: brightness(1);
    }

    .menu-voice {
        padding: .2rem 1rem;
    }

    .menu-voice-icon {
        width: 10%;
    }

    .menu-voice-icon img {
        width: 100%;
        vertical-align: middle;
    }

    .menu-voice-name {
        padding-left: .5rem;
    }

    /* Menu Playlist */

    .playlist {
        padding: 1rem;
        padding-top: 1.5rem;
    }

    .pl-title {
        color: var(--sw-white);
        font-size: 16px;
        font-weight: bold;
    }

    .create-pl {
        padding-top: .5rem;
    }

    .create-icon {
        font-size: 36px;
    }

    .create-descr {
        padding-left: 1rem;
        font-size: 14px;
    }

    .pl-list {
        height: 120px;
        overflow: auto;
    }

    .pl-list li {
        padding: .2rem;
        list-style: none;
    }

    /* Menu bottom */

    .install-user {
        padding: 0 1rem;
    }

    .install, .user {
        padding: .5rem 0;
    }

    .install-img {
        width: 10%;
    }

    .user-img {
        width: 10%;
        aspect-ratio: 1/1;
        background-color: var(--sw-grey);
        border-radius: 50%;
    }

    .install-img img {
        width: 80%;
    }

    .user-img img {
        width: 70%;
    }

    .user-descr {
        padding-left: .5rem;
        font-weight: bold;
    }

    .user-descr {
        color: var(--sw-white);
    }

    .install-user hr {
        border: 1px solid var(--sw-grey);
    }

/* #endregion sidebar */


/* #region footer */

    footer {
        color: var(--sw-white);
        font-weight: bold;
    }

    /* Dettagli brano */

    .details {
        width: calc(100% /12*3);
        padding-left: 1rem;
    }

    .song-cover {
        width: 20%;
    }

    .song-cover img {
        width: 100%;
        vertical-align: middle;
    }

    .song-detail {
        padding-left: .5rem;
    }

    .song-detail a {
        text-decoration: none;
        color: var(--sw-grey);
        font-size: 10px;
    }

    .song-detail a:hover {
        text-decoration: underline;
    }

    .icons {
        padding-left: 1rem;
    }

    .icons div {
        padding: 0 5px;
    }

    .icons a {
        color: var(--sw-grey);
    }

    .icons a:hover {
        color: var(--sw-white);
    }

    /* Player */

    .player {
        width: calc(100% /12*6);
    }

    .player-symbols {
        width: 40%;
    }

    .player-symbols .symbol {
        font-size: 16px;
    }

    .player-symbols .symbol.play:hover {
        font-size: 20px;
    }

    .player-bar {
        padding-top: .5rem;
        width: 80%;
    }

    .player-time {
        width: 10%;
        font-size: 10px;
    }

    .bar.partial:hover {
        background-color: yellow;
    }

    .bar.partial:hover .bullet {
        display: block;
    }

    /* Volume */

    .volume {
        width: calc(100% /12*3);
    }

    .volume-symbol {
        padding-left: .5rem;
    }

    /* Barra di progress */

    .progress-bar {
        padding: 0rem .5rem;
        width: 80%;
    }

    .progress-bar.vol {
        width: 60%;
    }

    .bar {
        height: 4px;
        border-radius: 8px;
    }

    .bar.total {
        width: 100%;
        background-color: var(--sw-grey);
        position: relative;
    }

    .bar.partial {
        position: asolute;
        top: 0;
        left: 0;
        width: 20%;
        background-color: var(--sw-lightgrey);
    }

    .bullet {
        position: absolute;
        top: 0;
        left: 20%;
        height: 10px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: white;
        transform: translate(-50%, -25%);
        display: none;
    }

/* #endregion footer */


@media screen and (max-width: 1440px) {
    
}


@media screen and (max-width: 1200px) {

    .col-3-md {
        width: calc(100% /12 *3);
    }
    
}


@media screen and (max-width: 768px) {

    .col-6-xmd {
        width: calc(100% /12 *6);
    }

    .fd-col-xmd {
        flex-direction: column;
    }
    
}


@media screen and (max-width: 600px) {

    .sidebar {
        width: 50px;
    }

    .main-sec {
        width: calc(100% - 50px);
    }

    .col-12-sm {
        width: 100%
    }

    .logo-spotify, .menu-voice-name, .playlist, .install-descr, .user-descr, .install-user hr {
        display: none;
    }

    .logo .favicon {
        display: inline-block;
    }

}