
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --sw-white: white;
        --sw-black: black;
        --sw-black-up: rgba(0, 0, 0, 0.5);     /* sfondo upgrade */
        --sw-dark: #080b12;       /* sfondo parte a destra */
        --sw-dark-foot: #282828;  /* sfondo footer */
        --sw-grey-home: #d2d2d2;  /* icona home */
        --sw-grey-pl: #a3a3a3;    /* icona crea playlist */
        --sw-grey: #707070;       /* testo */
    }

    body {
        font-family: sans-serif;
        font-size: 12px;
    }

    main {
        height: calc(100vh - 90px);
    }

    .sidebar {
        width: 230px;
        background-color: var(--sw-black);
    }

    .main-pg {
        width: calc(100% - 230px);
        background-color: var(--sw-dark);
        overflow: auto;
    }

    footer {
        position: sticky;
        left: 0;
        bottom: 0;
        height: 90px;
        background-color: var(--sw-dark-foot);
    }

/* #endregion Common */


/* #region Debug */

.debug-white {
    color: white;
    padding: 20px;
}

/* #endregion Debug */


/* #region Utilities */

    .container {
        width: 95%;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .f-wrap {
        flex-wrap: wrap;
    }

    .jc-fe {
        justify-content: flex-end;
    }

    .jc-c {
        justify-content: center;
    }

    .jc-sb {
        justify-content: space-between;
    }

    .ai-c {
        align-items: center;
    }

    .col-2 {
        width: calc(100% /12 *2);
    }

/* #endregion Utilities */


/* #region Upgrade */

    .upgrade {
        position: sticky;
        top: 0;
        left: 0;
        height: 90px;
        background-color: var(--sw-black-up);
    }

    .upgrade a { 
        text-decoration: none;
        color: var(--sw-white);
        border: 1px solid var(--sw-white);
        margin: 20px;
        padding: 10px 20px;
        border-radius: 30px;
    }

/* #endregion Upgrade */


/* #region Navigatore */

    nav {
        padding: 1rem 0;
    }

    nav ul {
        list-style: none;
        width: 80%;
        margin: auto;
    }

    nav a {
        text-decoration: none;
        color: var(--sw-grey);
        font-weight: bold;
        display: block;
        margin: 1rem .5rem;
    }

/* #endregion Navigatore */


/* #region column */

    .row-title {
        color: var(--sw-white);
        padding: 0 .5rem;
        padding-top: 1rem;
        font-size: 16px;
    }

    .row-subtitle {
        color: var(--sw-grey);
        padding: 0 .5rem;
        padding-top: .5rem;
        font-size: 10px;
    }

    .row {
        color: var(--sw-white);
        padding: 1.5rem 0;
    }

    .col {
        padding: .5rem;
    }

    .card-img img {
        width: 100%;
    }

    .round img {
        border-radius: 50%;
        object-fit: cover;
    }

    .card-title {
        text-align: center;
        padding-top: .5rem;
    }

    .card-subtitle {
        color: var(--sw-grey);
        text-align: center;
        padding-top: .5rem;
    }

/* #endregion column */



@media screen and (max-width: 1440px) {
    
}


@media screen and (max-width: 1200px) {

    .col-3-md {
        width: calc(100% /12 *3);
    }
    
}


@media screen and (max-width: 768px) {

    .col-6-xmd {
        width: calc(100% /12 *6);
    }
    
}


@media screen and (max-width: 600px) {

    .sidebar {
        width: 50px;
    }

    .main-pg {
        width: calc(100% - 50px);
    }
    
}